#A{
    background-color: YELLOW;
}
#B{
    background-color: BLUE;
}
.G{
    background-color: RED;
}
#D{
    background-color: orange;
}
#E{
    background-color: darkblue;
}
#F{
    background-color: crimson;
}
.X{
    background-color: blueviolet;
}
#H{
    background-color: rgb(229, 53, 144);
}
#I{
    background-color: rgb(130, 202, 238);
}
#J{
    background-color:rgb(102, 102, 237) ;
}
#K{
    background-color: darkgoldenrod;
}
#L{
    background-color: darkmagenta;
}
#M{
    background-color: darkcyan;
}
#N{
    background-color: rgb(83, 83, 120);
}
#O{
    background-color: rgb(141, 39, 39);
}
#R{
    background-color: aqua;
    } 